.projectContainer{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    height: 80%;

    .cardContainer{
        height: 630px;
        max-height: 710px;
        flex: 1;
        padding: 15px;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        overflow-y: scroll;
        // Hide scrollbar but still allow scrolling
        scrollbar-width: thin;
        scrollbar-color: transparent transparent;
        &::-webkit-scrollbar {
            padding: 0px;
            margin: 0px;
            width: 0px;
            background: transparent; /* Optional: just to make scrollbar invisible */
        }
    }
}

.contactSection{
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .contactText{
        font-size: 20px;
        font-weight: 500;
        color: #3eab1a;
        text-align: center;
    }
}
