.container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-weight: bold;
    font-size: 22px;
}

.links{
    display: flex;
    align-items: space-between;
    font-size: 18px;
    font-weight: 500;
    gap: 10px;

    .link{
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
        &:hover{
            background-color: #194c33;
            color: #fff;
        }
    }
    
}

.logout{
    padding: 5px;
    border: none;
    background-color: #53c28b;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
}